{% extends 'admin/base.html' %}

{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
    {% if kpi_cards %}
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mb-8">
        {% for card in kpi_cards %}
        <div class="bg-white flex flex-col gap-2 overflow-hidden p-6 relative rounded-default shadow-xs border border-base-200 dark:bg-base-900 dark:border-base-800">
            <span class="material-symbols-outlined absolute -left-4 text-base-200 top-1/2 -translate-y-1/2 text-6xl! dark:text-base-700">{{ card.icon }}</span>
            <span class="text-font-subtle-light text-sm dark:text-font-subtle-dark">{{ card.title }}</span>
            <span class="font-semibold text-2xl text-font-important-light dark:text-font-important-dark">{{ card.value }}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="flex flex-col lg:flex-row lg:gap-8">
        <div class="grow">
            {% include "unfold/helpers/app_list_default.html" %}
        </div>

        {% include "unfold/helpers/history.html" %}
    </div>
{% endblock %}
